.resource{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#f745bf 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    padding-block: 100px;
}

.resoursec__title{
    font-size: 40px;
    color: #e63946;
    border-left: 5px solid #ffb703;
    padding-inline-start: 10px;
}

.list__item{
    font-size: 20px;
    border-bottom: 5px solid #ffb703;
    padding-block-end: 10px;
}

.item__link{
    color: #780000;
    text-decoration: none;
}