.container{
    display: grid;
    place-items: center;
    background-color: #fe6d73;
    padding-block: 40px;
    margin-block-end: 40px;
}
.score__box{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: morphing 10s infinite;
    overflow: hidden;
    background-color: #fef9ef;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.score__description{
    display: grid;
    place-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}

.score__description:nth-child(1){
    background-color: #ffcb77;
    color: white;
}
.score__description:nth-child(2){
    background-color: #17c3b2;
    color: white;
}
.score__description:nth-child(3){
    background-color: #227c9d;
    color: white;
}
.score__description:nth-child(4){
    background-color: #5a189a;
    color: white;
}

.score__total{
    font-size: 30px;
    color: white;
    margin-block-end: 30px;
}

@media (max-width: 500px) {
    .score__box{
        max-width: 300px;
        max-height: 300px;
    }
}