.time:nth-child(1)::after{
    content: "2.5 sec";
    display: block;
    font-size: 40px;
    position: absolute;
    right: -50px;
    bottom: -100px;
}

.time:nth-child(1)::before{
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    background-color: brown;
    position: absolute;
    right: 0;
    bottom: -50px;
}

.time:nth-child(2)::after{
    content: "4.0 sec";
    display: block;
    font-size: 40px;
    position: absolute;
    right: -50px;
    bottom: -100px;
}

.time:nth-child(3)::before{
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    background-color: brown;
    position: absolute;
    bottom: -50px;
}

.desciprion{
    font-size: 25px;
    border-left: 5px solid #ffc300;
    padding-inline-start: 5px;
    margin-block-end: 40px;
}
.desciprion span{
    display: inline-block;
    padding: 5px;
    background-color: #e63946;
    color: white;
}
