.ttfb__section{
    margin-block-end: 50px;
}
.time:nth-child(1)::after{
    content: "800 ms";
    display: block;
    font-size: 40px;
    position: absolute;
    right: -60px;
    bottom: -100px;
}

.time:nth-child(1)::before{
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    background-color: brown;
    position: absolute;
    right: 0;
    bottom: -50px;
}

.time:nth-child(2)::after{
    content: "1800 ms";
    display: block;
    font-size: 40px;
    position: absolute;
    right: -65px;
    bottom: -100px;
}

.time:nth-child(3)::before{
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    background-color: brown;
    position: absolute;
    bottom: -50px;
}


.ttfb__description{
    font-size: 25px;
    color: black;
    border-left: 5px solid #ffc300;
    padding-inline-start: 10px;
}

.style__block{
    display: grid;
    place-items: center;
    width: max-content;
    margin-inline: auto;
    color: #e63946;
    padding: 20px;
    font-size: 30px;
    text-transform: uppercase;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #1d3557;
    margin-block-end: 20px;
}